html{
    position: relative;
}
body{
    /* background-image: url(../img/repeated-square/repeated-square.png); */
    margin-bottom: 120px;
    margin-top: 30px;
    
}
.jumbotron{
    height: 400px;
    background-image: url('../img/bg_header.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -150px;
    color:#eaeaea;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    overflow: hidden;
}
.jumbotron img{
    width: 150px;
    border: 3px solid #666;
    border-color:#eaeaea ;
}
.jumbotron h1,.jumbotron p{
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
hr{

    width: 250px;
    border-top: 4px solid #999;
}
section{
    min-height:600px;
}
.portfolio{
    background-color: #eee;
}
.portfolio .thumbnail{
    opacity: 0;
    transform: translate(0,-40px);
    transition: .5s;
}
.pKiri, .pKanan{
    opacity: 0;
    transform: translate(-50px,0)rotate(15deg);
    transition: 1s;
}
.pKanan{
    transform: translate(50px,0)rotate(-15deg);
}
.pKiri.pmuncul, .pKanan.pmuncul{
    opacity: 1;
    transform: translate(0,0);
}

.portfolio .thumbnail.muncul{
    opacity: 1;
    transform: translate(0,0px);
}
.contact{
    min-height: 800px;
    
}
.about{
    min-height:400px;
}
footer{
    position: absolute;
    width: 120%;
    height: 100px;
    bottom:0;
    background-color: #333;
}
footer p{
    color:#aaa;
    font-size: 0.9em;
    padding-top: 30px;
}
footer p i{
    color: salmon;
}
